name: API Continuous Integration

on:
  push:
    paths:
      - "api/**"
      - ".github/workflows/api-ci.yml"
  pull_request:
    paths:
      - "api/**"
      - ".github/workflows/api-ci.yml"

defaults:
  run:
    working-directory: api

jobs:
  test:
    name: Run all tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
        mongodb-version: ["6.0"]
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.12.1
        with:
          mongodb-version: ${{ matrix.mongodb-version }}

      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: yarn lint
        run: yarn lint
      - name: yarn build
        run: yarn build
      - name: yarn test
        run: yarn test
        env:
          CI: true
