name: API CI

on:
  push:
    paths:
      - "api/**"
      - ".github/workflows/api-ci.yml"

defaults:
  run:
    working-directory: api

jobs:
  test:
    name: Run all tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mongodb-version: ["6.0"]
    steps:
      - uses: actions/checkout@v6
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Cache Bun dependencies
        id: cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.bun/install/cache
            node_modules
          key: bun-${{ runner.os }}-${{ github.ref }}-${{ hashFiles('bun.lockb', 'package.json') }}
          restore-keys: |
            bun-${{ runner.os }}-${{ github.ref }}-
            bun-${{ runner.os }}-

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.12.1
        with:
          mongodb-version: ${{ matrix.mongodb-version }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        working-directory: .
        run: bun install --frozen-lockfile

      - name: Lint
        run: bun run lint
      - name: Build
        run: bun run compile
      - name: Test
        run: bun run test
        env:
          CI: true
