name: Create Issues from TODOs

on:
  push:
    branches:
      - master
    paths:
      - "api/**"
      - ".github/workflows/todo.yml"

jobs:
  build:
    # Run on latest version of ubuntu
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: "TODO to Issue"
        uses: "alstr/todo-to-issue-action@v5"
        id: "todo"
